*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.header {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 25px;
    color: rgb(29, 66, 250);
    font-size: 30px;
    background-color: rgb(219, 222, 222);
}
.img1 {
     position: relative;
    width: 100%;
    height: 900px;
    background-image: url(/assets/one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar {
    
    float: right;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
}

li {
    float: left;
    margin-right: 40px;
    
}
.footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    color: rgb(12, 11, 11);
    background-color: rgba(251, 247, 247, 0.5);
    text-align: center; 
    padding: 15px 0;
    border-top: 2px solid white;
}
P{
    font-size: large;
    padding: 10px 0;
}
span {
    color: blue;
    font-size: 1.5em;
}

